.wrapper {
    padding: 1rem 0rem 0;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 100vw;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 570px;
    border: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
    font-family: sans-serif;
}

.chat-header {
    background-color: #304ffe;
    color: #fff;
    padding: 16px;
    text-align: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.chat-messages {
    flex: 1;
    padding: 16px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f8f8f8;
}

.chat-message {
    margin-bottom: 16px;
    padding: 10px 12px;
    border-radius: 8px;
    max-width: 80%;
    position: relative;
}

.user-message {
    background-color: #f0f0f0;
    align-self: flex-end;
    text-align: right;
    border-top-right-radius: 0;
}

.other-message {
    background-color: #304ffe;
    color: #fff;
    align-self: flex-start;
    text-align: left;
    border-top-left-radius: 0;
}

.message-text {
    margin-bottom: 4px;
}

.message-time {
    font-size: 0.75rem;
    color: #888;
    text-align: right;
}

.chat-input {
    display: flex;
    padding: 12px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.chat-input button {
    padding: 8px 16px;
    background-color: #304ffe;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}


.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F1EFF0;
}

/* Navigation */
nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem 1.8rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 20px;
    height: calc(100vh - 5rem);
}

nav img {
    width: 180px;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

nav .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
}

nav .list .item {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .list .item .link:hover {
    color: rgba(0, 0, 0, 1);
}

nav .list .item .link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

nav .list .item .link__active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav .exit .item .link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.menu-toggle {
    display: none;
}

.menu__list {
    display: none;
}

/* Main Content */
h1 {
    margin: 0;
    color: black;
}

h2 {
    color: black;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

p {
    color: black;
}

label {
    color: black;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

button {
    font-size: 1rem;
    cursor: pointer;
}

.main__content {
    padding: 1rem 2rem 2rem;
    background-color: white;
    height: 100%;
    max-width: calc(100vw - 250px - 6.8rem);
    width: 100%;
    min-height: calc(100vh - 5rem);
    margin-left: calc(250px + 1rem);
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    scroll-behavior: smooth;
}

/* Page Style */
.container {
    overflow: hidden;
}

.table__container {
    overflow-x: auto;
}

.add__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.add__button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
}

th {
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

td {
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
}

td img {
    width: 300px;
    object-fit: cover;
}

td video {
    width: 300px;
}

.manage__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.manage__buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.active {
    background-color: rgb(6, 217, 94);
    color: white;
    transition: background-color 0.3s ease;
}

.inactive {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease;
}

.edit__button {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.delete__button {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease;
}

.w-min {
    width: 150px;
}

.small__image img {
    width: 150px;
}

.small__image video {
    width: 150px;
}

.small__image {
    width: 150px;
}

.image {
    width: 300px;
}

.container .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.container .list button {
    width: calc(300px + 1rem);
    padding: 0.7rem;
    margin-top: 0.5rem;
}

.container .list .item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.container .list p {
    margin: 0;
}

/* Inputs */
input {
    width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

select {
    width: 100%;
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea {
    width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Modal */
.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal__background.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    width: 100%;
    min-height: 200px;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete__modal {
    background-color: white;
    color: black;
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    width: 100%;
    min-height: 200px;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal__header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.close__button {
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    scale: 1;
    transition: scale 0.3s ease;
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
}

.close__button:hover {
    scale: 1.1;
}

.modal__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: relative;
}

.modal__body .input__container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    width: 100%;
}

.modal__body .input__container input {
    width: calc(100% - 1.4rem);
    padding: 0.7rem;
}

.submit__button {
    background-color: #007bff;
    color: white;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit__button:hover {
    background-color: #0161c9;
}

.modal__body .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.modal__body .buttons button {
    width: 100%;
}

@media (max-width: 800px) {
    .wrapper{
        gap: 0;
    }
    /* Navigation */
    nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 0;
        padding: 0.5rem 2rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: calc(100% - 4rem);
        border-radius: 0;
        height: auto;
        z-index: 10;
        top: 0;
    }

    nav img {
        width: 80px;
        align-self: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    nav .list {
        display: none;
    }

    .menu__list {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 53px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        left: 0;
        padding-top: 10px;
        cursor: pointer;
        gap: 5px;
        z-index: 9;
        background-color: white;
        align-items: center;
        transition: transform 0.3s ease;
        transform: translateY(-200%);
    }

    .menu__list.active {
        transform: translateY(0);
    }

    .menu__list .m__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0 0.5rem;
    }

    .m__list .item {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .m__list .item .link:hover {
        color: rgba(0, 0, 0, 1);
    }

    .m__list .item .link {
        text-decoration: none;
        text-align: center;
        padding: 0.5rem;
        color: rgba(0, 0, 0, 0.5);
        transition: color 0.3s ease;
    }

    .m__list .item .link__active {
        text-decoration: none;
        padding: 0.5rem;
        color: rgb(0, 0, 0);
    }

    .exit .item .link {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    /* When menu is open, adjust gap */
    .menu-toggle.open {
        gap: 7px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: black;
    }

    /* Transitions for first and third bars */
    .bar:not(.middle) {
        transition: transform 300ms;
    }

    /* Transition for middle bar */
    .bar.middle {
        transition: opacity 200ms;
    }

    /* Transformations when menu is open */
    .menu-toggle.open .bar:first-child {
        transform: rotate(45deg) translateY(14px);
    }

    .menu-toggle.open .bar.middle {
        opacity: 0;
    }

    .menu-toggle.open .bar:last-child {
        transform: rotate(-45deg) translateY(-14px);
    }

    /* Main Content */
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .main__content {
        padding: 4rem 2rem 2rem;
        background-color: white;
        height: 100%;
        max-width: calc(100vw - 2rem);
        width: 100%;
        min-height: calc(100vh - 5.2rem);
        margin-left: 0;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;
        scroll-behavior: smooth;
    }

    .container .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .container .list button {
        width: 100%;
        padding: 0.7rem;
        margin-top: 0.5rem;
    }

    .container .list .item {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
    }

    .container .list p {
        margin: 0;
    }

    /* Inputs */
    input {
        width: calc(100% - 1.2rem);
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ced4da;
    }

    textarea {
        width: calc(100% - 1.2rem);
        min-height: 150px;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ced4da;
    }
}